@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    font-family: 'Poppins';
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    color: #18255E;
}